<div class='container'>
  <div class='center'>
    <h1>Match 'em</h1>

    <div class='row'>
      <div class='col s2 box four'></div>
      <div class='col s2 box five'></div>
      <div class='col s2 box three'></div>
      <div class='col s2 box seven'></div>
    </div>

    <div class='row'>
      <div class='col s2 box six'></div>
      <div class='col s2 box two'></div>
      <div class='col s2 box eight'></div>
      <div class='col s2 box one'></div>
    </div>

    <div class='row'>
      <div class='col s2 box five'></div>
      <div class='col s2 box eight'></div>
      <div class='col s2 box one'></div>
      <div class='col s2 box four'></div>
    </div>

    <div class='row'>
      <div class='col s2 box three'></div>
      <div class='col s2 box seven'></div>
      <div class='col s2 box six'></div>
      <div class='col s2 box two'></div>
    </div>


  </div>
</div> 