.box {
  border: 2px solid black;
  height: 150px;
  margin-right: 20px;
}

.one-clicked {
  background-color: green;
}

.two-clicked {
 background-color: blue; 
}

.three-clicked {
  background-color: purple;
}

.four-clicked {
  background-color: red;
}

.five-clicked {
  background-color: orange;
}

.six-clicked {
  background-color: yellow;
}

.seven-clicked {
  background-color: pink;
}

.eight-clicked {
  background-color: grey;
}